{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login to Quizlet Clone</title>

    {# Loading CSS #}
    <link href="{% static 'quiz/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'quiz/css/dashboard.css' %}" rel="stylesheet">
    </style>
    {# Loading JS #}
        <script src="{% static 'quiz/js/jquery.min.js' %}"></script>
        <script src="{% static 'quiz/js/bootstrap.min.js' %}"></script>
   </head>
   <body>
   		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#" id="brand-logo"></a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse"  id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <!-- <li class="active" class="navbar-link"><a href="#">Link<span class="sr-only">(current)</span></a></li> -->
		        <li><a href="#" class="navbar-link">Create a Set <span class="glyphicon glyphicon-plus glyph-style"></span></a></li>
		        
		        <li  class="navbar-link" class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#">Action</a></li>
		            <li><a href="#">Another action</a></li>
		            <li><a href="#">Something else here</a></li>
		            <li class="divider"></li>
		            <li><a href="#">Separated link</a></li>
		            <li class="divider"></li>
		            <li><a href="#">One more separated link</a></li>
		          </ul>
		        </li>
		      </ul>
		      <form class="navbar-form navbar-left" role="search">
		        <div class="form-group navbar-link">
		          <input type="text" class="form-control" placeholder="Search">
		        </div>
		      </form>
		      <a href="#"><span class="glyphicon glyphicon-search glyph-style search-glyph"></span></a>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#" class="navbar-link">Edit Profile <span class="glyphicon glyphicon-edit glyph-style"></span></a></li>
		        <li><a href="#" class="navbar-link">Log Out <span class="glyphicon glyphicon-log-out glyph-style"></a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			<h2 class="padded-10"> Welcome, {{ username }}</h2>
			{% if number_of_sets > 0 %}
				<h3 class="padded-10"> Your Sets: </h3>
				<div class="row">
					{% for set in sets %}
					<div class="col-md-3">
						<div class="set">
							<h5>{{ set.description }}</h5>
							<p> <b>Language to:</b> {{ set.language_to }}</p>
							<p> <b>Language from:</b> {{ set.language_from }} </p>
						</div>
					</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="Jumbotron">
					<h3>You have not created any sets yet</h3>
				</div>
			{% endif %}
		</div>
   </body>
</html>