{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login to Quizlet Clone</title>

    {# Loading CSS #}
    <link href="{% static 'quiz/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'quiz/css/dashboard.css' %}" rel="stylesheet">
    </style>
    {# Loading JS #}
        <script src="{% static 'quiz/js/jquery.min.js' %}"></script>
        <script src="{% static 'quiz/js/bootstrap.min.js' %}"></script>
   </head>
   <body>
   	{% include 'quiz/navbar.html' %}
		<div class="container">
			<h2 class="padded-10"> Welcome, {{ user }}</h2>
			{% if number_of_sets > 0 %}
				<h3 class="padded-10"> Your Sets: </h3>
				<div class="row">
					{% for set in sets %}
					<div class="col-md-3">
						<div class="set">
							<h5>{{ set.description }}</h5>
							<p> <b>Language to:</b> {{ set.language_to }}</p>
							<p> <b>Language from:</b> {{ set.language_from }} </p>
						</div>
					</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="Jumbotron">
					<h3>You have not created any sets yet</h3>
				</div>
			{% endif %}
		</div>
   </body>
</html>