#brand-logo {
	background-image: url("http://i61.tinypic.com/54i1x5.png");
	width: 100px;
	height: 80px;
	margin-right: 10px;
}
.navbar-link {
	margin-top: 15px;
	margin-left: 15px;
	width: 150px;
	text-align: left;
}
.glyph-style {
	margin-left: 5px;
}
.search-glyph {
	padding-top: 30px;
	padding-left: 10px;
}
a {
	text-decoration: none;
}